* {
    margin: 0;
    padding: 0;
}
.goods-list {
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    color: navy;
    
}

.goods-item {
    border: 1px solid wheat;
    width: 350px;
    box-sizing: border-box;
    padding: 0px 20px;
    margin: 10px 10px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: linen;
   
}
.header {
    height: 50px;
    background-color:navy;
    display: flex;
    justify-content: space-between;
}
.logo {
    margin-left: 30px;
    margin-top: 15px;
    color: wheat;
    font-size: 25px;
}
.cart-button {
    margin-right: 30px;
    width: 55px;
    background-color: navajowhite;
    color: navy;
}
p {
    color: red;
}
h2 {
    color: navy;
}
